<!DOCTYPE html>
<html>
  <head>
    <title>YooToob</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <%= javascript_include_tag 'application' %>
    <%= favicon_link_tag asset_path('yootooblogo.png') %>
    <script type="text/javascript">
      window.defaultURL = "<%= image_url('signin.jpeg') %>"
    </script>
     <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet" />
  </head>

  <body>
    <%= yield %>
  </body>
</html>
